@typeparam TItem

<td>
	<span hidden="@Editing">@Item</span>
	<input hidden="@(!Editing)" @bind="@Item" @bind:event="oninput" @onkeyup="ModifyItem" />
</td>

@code {
	// IsRowEditing matches Name from Blazor's <CascadingValue> component
	// In this case, it is defined in EditableRow.razor
	[CascadingParameter(Name = "IsRowEditing")]
	private bool Editing { get; set; }

	[Parameter]
	public TItem Item { get; set; }
	[Parameter]
	public EventCallback<TItem> ItemChanged { get; set; }

	private async Task ModifyItem() => await ItemChanged.InvokeAsync(Item);
}